<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Crédit Agricole</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-3">Projet D'école</h3>

                <ul>
                    <li>Utilisation du Random Forest pour identifier des potentiels clients bancaires pouvant souscrire à un contrat d'assurance.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Juill 2018 - Août 2018</span></div>
        </div>
    </div>
</section>
