.container-df {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    /*background: red;*/
    box-sizing: border-box;
    /*flex-wrap: nowrap;*/
}

.content-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content {
    /*background: #bd5d38;*/
    text-align: center;
    align-items: center;
    width: 20%;
}

.right-content {
    width: 80%;
}

.bg-primary {
    background-color: #bd5d38 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #964a2c !important;
}
