<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Air Cube</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-3">CDD Développeur Big Data & Web</h3>

                <ul>
                    <li>Déploiement, amélioration et automatisation du prototype d’algorithme créé lors du stage sur des serveurs test.</li>
                    <li>Création de nouvelles fonctionnalités augmentant la rapidité de chargement des dashboards Tableau sur le web mais aussi permettant le déploiement et la visualisation des résultats de l’algorithme.</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Juill 2019 - Nov 2019</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-3">Stage Data Scientist</h3>

                <ul>
                    <li>Thèse : Création d’un prototype d’algorithme de Machine Learning permettant la prédiction des tarifs de billets d'avion sur des intervalles de temps définis à l'aide des Time Series suivie d’une projection et visualisation des prédictions sur Tableau.</li>
                    <li>Administration et amélioration de la plateforme web d'Air-Cube</li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Janv 2019 - Juin 2019</span></div>
        </div>
    </div>
</section>
