<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Technodream</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-3">Développeur Web (Full-Stack)</h3>

                <ul>
                    <li>Création d’une entreprise de développement web </li>
                    <li>Management d’une équipe de deux développeurs</li>
                    <li>Créations d'applications Web en HTML / PHP / Javascript / MySQL pour des startups et particuliers dont les références sont listées ci-dessous.</li>
                    <ul>
                        <li><a href="https://monartisan.ci/" target="_blank">Mon Artisan</a></li>
                        <li><a href="https://kimexfinances.ci/" target="_blank">Kimex Finances</a></li>
                        <li><a href="https://www.yvoiretsourires.org/" target="_blank">ONG Yvoire et Sourire</a></li>
                        <li><a href="https://www.brotherskeepersmask.com/" target="_blank">Brother's Keeper Mask</a></li>
                        <li><a href="https://leschroniquesdetchonte.com/" target="_blank">Les Chroniques de Tchonte</a></li>
                        <li><a href="https://aficakpo.com/en/home/#/latest-from-the-blog" target="_blank">Afi Blog</a></li>
                    </ul>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Juill 2019 - Nov 2019</span></div>
        </div>
    </div>
</section>
